
.search-container {

}

.hide {
    display: none;
}

.show {
    display: block;
}

.container {
    margin: 20px;
}

.city-searches {
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
}

.current-weather {
    border: solid 2px black;
    padding: 15px;
    border-radius: 30px;
}

.current-weather h2 {
    font-size: 50px;
}

.current-weather p {
    font-size: 20px;
}

.weekly-weather div {
    color: white;
    background-color: rgb(74, 71, 71);
    margin-right: 20px;
}

.weekly-weather {
    margin-top: 20px;
}

h1 {
   margin-left: 30px;
    font-size: 50px;
}